*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
	background: url(/Images/nba.jpg)no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    display: flex;
	width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgb(26,70,105);
	background: linear-gradient(90deg, rgba(26,70,105,1) 0%, rgb(216, 212, 212) 51%, rgba(128,45,68,1) 100%);
    margin: 20px auto;
    width: 65vw;
    max-width: 80%;
    height: 75vh;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 8px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.playerImage {
    width: 35%;
    height: 40%;
}

#btn {
    width: 70px;
    height: 47px;
    border-radius: 12px;
    padding: 5px;
    margin: 15px;
    outline: none;
    text-align: center;
    background-color: rgb(250, 243, 231);
    border-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
}

#btn:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(232, 229, 229, 0.803);
	transition: transform 100ms;
	transform: scale(1.03);
}

#answer-buttons {
    display: flex;
    gap: 10px;
    width: 400px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

#controls {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#next-btn {
    width: 100px;
    height: 50px;
    border-radius: 9px;
    border-color: transparent;
    font-size: 1.4rem;
}

#next-btn:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(232, 229, 229, 0.803);
	transition: transform 100ms;
	transform: scale(1.03);
}

#question {
    font-size: 1.5rem;
}

.quizInfo {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 30px;
    justify-content: space-around;
}
.scoreboard {
    display: flex;
    font-size: 1.5rem;
    padding-right: 300px;
}

.questionNumber {
    font-size: 1.5rem;
}

.homeButton {
    color: black;
    text-align: center;
    text-decoration: none;
    display: flex;
}